
/* barra de navegacion */
.navBarra{
    background-color: #231955;
}
.navbar-brand{
    color: #FFE5B4;
}
.nav-link{
    color: #FFE5B4;
    margin: 1px 1rem;
    padding: auto;
}
.dropdown-menu{
    color: #1F4690;
    background-color: #E8AA42;
}
.nav-link:hover{
    background-color: #E8AA42;
}
.active{
    background-color: #E8AA42
}


/* ----footer---- */
.footer{
    background-color: #231955;
}
.footer__frase{
    color: whitesmoke;
    text-align: center;
}
.footer__frase h2{
    font-size: 20px;
}
.footer__lista{
    margin: 0 auto;
    width: fit-content;
}
.footer__lista li{
    list-style: none;
    display: inline-block;
    margin: 12px;
}
.footer__redes a img{
    width: 30px;   
}

/* boton whatsapp */
.whatsappImage{
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 15px;
}

/* index */
.col img{
    width: 100%
}

/* sobre nosotros */
.carousel-inner{
    height: 45rem;
    margin: 20px;
}
.carousel-item img{
    object-fit: cover;
}
.w-100{
    height: 45rem;
}
/* servicios */
.col .transiciones{
    height: 18rem;
    width: 19rem;
}
/* nuestro trabajo */
.galeria img{
    width: 350px;
    height: 17rem;
    object-fit: cover;
}
.galeria img:hover{
    border: solid #E8AA42;
}